<div class="sign_up_background">
  <img id="netflix_logo" src="https://assets.stickpng.com/images/580b57fcd9996e24bc43c529.png" alt="">
  <div class="sign_up">
    <form action="/auth/signup" method="POST">
      <h1>Sign Up</h1> <br>
      <input id="new-name" type="text" name="name" placeholder="Name"> <br>

      <input id="new-email" type="email" name="email" required placeholder="Email"> <br>

      <input id="new-password" type="password" name="password" min="8" placeholder="Password"> <br><br>

      <input id="sign_up_button" type="submit" value="Sign up"> 
      <div class="form_extras_one">
        <input type="checkbox" id="vehicle1">
        <label style="margin: auto auto auto 2.2px;" for="vehicle1">Remember me</label>
        <h3 style="margin: auto 0px auto 0px" >Need help?</h3>
      </div>
      <div  class="form_extras_two">
        <h3><i class="fa fa-facebook-square" style="font-size:18px;margin-top:3px;color:rgb(19, 81, 188)"></i>  Login with Facebook</h3><br>
        <h3>Have an Account? <a style="color:white;" href="/auth/login">Sign in now.</a></h3><br>
        <h3>This page is protected by Google reCAPTCHA to ensure you're not a bot. <span style="color: rgb(1, 89, 240);">Learn more.</span></h3>
      </div>
    </form>
  </div>
</div>