<h2>Homepage</h2>
<div class="row">
  <h2>NETFLIX ORIGINALS</h2>
  <div class="row_posters">

  </div>
</div>
<div class="row">
  <h2>Trending Now</h2>
  <div class="row_posters">
  
  </div>
</div>
<!-- <% Object.keys(myTrending[0]).forEach(x => { %> -->
  <!-- <p><%= myTrending[0][x].original_title %></p> -->
<!-- <% }) %> -->
<% myTrending[0].then(x => { %>
  <% x.forEach(y => { %>
    <%= y.original_title %>
<%  }) %>
<% }) %>