<h2>Homepage</h2>
<div class="row">
  <h2>NETFLIX ORIGINALS</h2>
  <div class="row_posters">

  </div>
</div>
<div class="row">
  <h2>Trending Now</h2>
  <div class="row_posters">
  
  </div>
</div>
<% console.log('inside frontend',myTrending) %>