<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Netflix Clone</title>
    <link rel="stylesheet" href="/css/style.css">
    <script src="https://kit.fontawesome.com/db3062e8c0.js" crossorigin="anonymous"></script>
  </head>
  <body>
    
    <%- include("partials/alerts") %>
    <%- body %>
  </body>
</html>
