<header id="nav_header">
   <nav id="nav">
     <img class="logo" src="https://upload.wikimedia.org/wikipedia/commons/0/0f/Logo_Netflix.png" alt="logo"/>
     <form id="search_form"method="GET" action="/search/:search">
       <input type="text" name="title" id="title" placeholder="Search ">
       <button class="btn-search" type="submit"><i class="fas fa-search"></i></button>
     </form>
     <div class="dropdown">
       <button class="dropbtn"><i class="fas fa-bars"></i></button>
       <div class="dropdown-content">
           <a href="/auth/logout">Logout</a>
           <a href="/profile">Profile</a>
       </div>
     </div>
 </nav>
 </header>
<div class = "search-res-main">
<% responseData.forEach(function(movie) { %>
 <div class="search-list">
    <p><%= movie.title %></p>
    <img
    src="https://image.tmdb.org/t/p/original<%= movie.poster_path %>"
    alt="poster"
     />
    <p>Release date:<%=movie.release_date%></p>
    <p>Rate:<%=movie.vote_average%></p>
    <button class="btn-add" type="submit">Add to Watchlist</button>
 </div>
<% }); %>
</div>

