<div class = "search-res-main">
<% responseData.forEach(function(movie) { %>
 <div class="search-list">
    <p><%= movie.title %></p>
    <img
    src="https://image.tmdb.org/t/p/original<%= movie.poster_path %>"
    alt="poster"
     />
    <p>Release date:<%=movie.release_date%></p>
    <p>Rate:<%=movie.vote_average%></p>
    <button class="btn-add" type="submit">Add to Watchlist</button>
 </div>
<% }); %>
</div>

