<script>
  watchNow('<%= watchNowInput %>')
</script>
<% console.log("watchNowInput",watchNowInput) %>
<div id="watch_now" style="height: 100vh;background-color: black;">
    <img id="delete" style="cursor:pointer;width: 200px;display:block;margin:auto;padding-top: 10%;" src="https://user-images.githubusercontent.com/37936292/109397607-60685f80-78ec-11eb-9f84-3017e7d699fa.png" alt="temp"
      onclick="watchNow('<%= watchNowInput %>')" />
</div>