*{
  margin:0px;
}
nav ul li {
  text-decoration: none;
  display: inline-block;
  margin-right: .3em;
}

h1 {
  color: chartreuse;
}
.container {
  /* display: flex;
  flex-direction: column; */
}
.row {

}
.row_posters {
  display: flex;
  overflow-y: hidden;
  overflow-x: scroll;
  padding: 20px;
}
.row_posters::-webkit-scrollbar {
  display: none;
}
.row_poster {
  object-fit: contain;
  width: 100%;
  max-height: 200px;
  margin-right: 10px;
  transition: transform 250ms;
}
.row_poster:hover {
  transform: scale(1.08);
}