body {
    background-image: url("https://images.hdqwalls.com/download/dark-red-black-abstract-4k-pa-1600x900.jpg"); 
    font-family: sans-serif;
}
.box {
    text-align: center;
    margin: 100px 0 100px 0;
}
.image {
    margin-top: 100px;
    
}

.content {
    color: azure;
    text-align: left;
    margin: 0 auto;
    width: 800px;
}